@import "fonts/minecraft.css";

body {
    font-family: "Roboto", HelveticaNeue, Helvetica, Arial, sans-serif;
}

svg:not(.icon) {
    display: block;
    margin: 0 auto;
}

#autobranch_branch,
#approval_branch,
#approval_master,
#commitmessage_branch {
    transition: stroke-dashoffset .5s ease-in-out;
    opacity: 0;
}

#autobranch_branch.grow,
#approval_master.grow,
#commitmessage_branch.grow,
#approval_branch.grow {
    stroke-dashoffset: 0;
    opacity: 1;
}

#autobranch_commit,
#approval_mastercommit,
#approval_commit {
    transition: rx .5s ease-in-out, ry .5s ease-in-out;
    transition-delay: .5s;
    opacity: 0;
    rx: 10;
    ry: 10;
}

#autobranch_commit.grow,
#approval_mastercommit.grow,
#approval_commit.grow {
    rx: 25;
    ry: 25;
    opacity: 1;
}

#approval_mastercommit {
    transition-delay: 1.5s;
}

#commitmessage_commit {
    transition: stroke .5s linear;
    transition-delay: .5s;
    opacity: 0;
}

#commitmessage_commit.grow {
    stroke: #F6C341;
    opacity: 1;
}

#approval_merge {
    transition: stroke-dashoffset 1s ease-in-out;
    transition-delay: 1s;
    opacity: 0;
}

#approval_merge.grow {
    stroke-dashoffset: 0;
    opacity: 1;
}

#approval_master {
    transition-delay: 1.5s;
}

.zpr-home .badge {
    cursor: default;
}

.zpr-login {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
}

.zpr-login img {
    max-width: 100%;
}

.zpr-login footer {
    flex: 0 0 auto;
    width: 100%;
    height: 80px;
    margin-top: 30px;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 15px;
}

img.logo {
    width: 33px;
    vertical-align: baseline;
}

:root {
    --white: #fff;
    --dark-gray: #555;
    --yellow: #F6C341;
    --light-gray: #f5f5f5;
}

/* bootstrap overrides */

.list-group-item.active,
.list-group-item.active:hover {
    color: var(--dark-gray) !important;
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

input.form-control:focus {
    box-shadow: inset 0 -2px 0 var(--yellow) !important;
}

.form-control:focus {
    border-color: var(--yellow) !important;
}

label.btn-primary.toggle-on {
    color: var(--dark-gray) !important;
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

label.btn-primary.toggle-on:active {
    background-color: var(--yellow) !important;
    background-image: radial-gradient(circle, #d2a636 10%, var(--yellow) 11%) !important;
}

@media (max-width: 600px) {
    .zpr-login > *:not(:first-child) {
        padding: 15px;
    }
}
