@media(min-width: 800px) {
    .rst-content [role="main"] img {
        max-width: 75%;
        margin: 0 auto;
        display: block;
    }
}

.wy-menu[role="navigation"]:after {
    content: url(../img/banner_tiny.png);
    position: relative;
    left: 10px;
}
